
@{
    ViewBag.Title = "Details";
}

<h2>Details @ViewData["Name"]</h2>

<p>Id: @ViewData["Id"]</p>
<p>Name: @ViewData["Name"]</p>
<p>Price: @ViewData["Price"]</p>
<p>Category: @ViewData["Category"]</p>
<p>Supplier: @ViewData["Supplier"]</p>

